body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

.search {
	width: 100%;
	display: flex;
}

.search-box {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
}

.list {
	order: 1;
	flex-grow: 1;
	background-color: #055;
}

.map {
	order: 2;
	flex-grow: 4;
	background-color: #fff;
	text-align: center;
	height: 1000px;
}

.results {
	margin: 0;
	padding: 0;
}

.place {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #088;
}

.place:hover{
	cursor: pointer;
	background-color: lightgreen;
}

.burger {
	width:0%;
}




@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {

.app {
	flex-direction: column;
}

.search{
	position: fixed;
	z-index: 1;
}

.burger {
	width:20%;
	font-size: 3.0em;
	text-align: center;
	padding: auto
	box-sizing: border-box;
	background-color: #055;
}

.clicked{
	background-color: lightgreen;
}

.burger:hover{
	cursor: pointer;
	background-color: lightgreen;
}

.list{
	height: 0;
}

.slide-down{
	height: 482px;
	position: fixed;
	top: 64px;
	width: 100%;
	z-index: 1;
}


.search-box, .list {
	font-size: 1.5em;
}




}